.btn {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    font-family: var(--font-inter);
    font-weight: var(--fontw-semi-bold);
    cursor: pointer;
}

.btn-sm {
    padding: 12px 20px;
    font-size: var(--fs-body-3);
    line-height: var(--lh-body-3);
}

.btn-md {
    padding: 14px 20px;
    font-size: var(--fs-body-2);
    line-height: var(--lh-body-3);
}

.btn-lg {
    padding: 14px 20px;
    font-size: var(--fs-body-2);
    line-height: var(--lh-body-3);
}

.btn-xl {
    padding: 20px 32px;
    font-size: var(--fs-body-1);
    line-height: var(--lh-body-2);
}

.btn-primary {
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: var(--radius-xl);
    border: 1px solid var(--color-black);
}

.btn-primary:hover {
    background-color: var(--gray-1000);
}

.btn-primary:focus {
    box-shadow: var(--shadow-focus-secondary)
}

.btn-primary:disabled {
    background-color: var(--gray-100);
    border: 1px solid var(--gray-200);
    color: var(--gray-300);
    cursor: not-allowed;
}

.btn-secondary {
    background-color: var(--color-white);
    color: var(--color-black);
    border-radius: var(--radius-xl);
    border: 1px solid var(--gray-300);
}

.btn-secondary:hover {
    background-color: var(--gray-100);
    box-shadow: var(--shadow-hover-primary);
    border: 1px solid transparent;
}

.btn-secondary:focus {
    box-shadow: var(--shadow-focus-secondary)
}

.btn-secondary:disabled {
    background-color: var(--color-white);
    border: 1px solid var(--gray-200);
    color: var(--gray-300);
    cursor: not-allowed;
}

.btn-secondary-gray {
    background-color: var(--gray-50);
    color: var(--gray-700);
    border: 1px solid var(--gray-300);
    border-radius: var(--radius-xl);
}

.btn-secondary-gray:hover {
    background-color: var(--gray-200);
    box-shadow: var(--shadow-hover-primary);
}

.btn-secondary-gray:focus {
    background-color: var(--gray-50);
    box-shadow: var(--shadow-focus-secondary);
}

.btn-secondary-gray:disabled {
    background-color: var(--gray-50);
    border: 1px solid var(--gray-200);
}

.btn-text{}

.btn-text:disabled{
    color: var(--gray-300);
}

.btn-icon {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.btn:disabled,
.btn.disabled {
    box-shadow: none;
    cursor: not-allowed;
}