@import "./fonts.css";

:root {
    --font-futuru: 'Futuru', sans-serif;
    --font-inter: 'Inter', sans-serif;

    --fontw-thin: 100;
    --fontw-extra-light: 200;
    --fontw-light: 300;
    --fontw-regular: 400;
    --fontw-medium: 500;
    --fontw-semi-bold: 600;
    --fontw-bold: 700;
    --fontw-extra-bold: 800;
    --fontw-black: 900;


    --fs-h-1: clamp(30px, 3vw + 1rem, 3rem);
    --fs-h-2: clamp(2rem, 4vw + 0.5rem, 2.5rem);
    --fs-h-3: clamp(1.75rem, 3vw + 0.25rem, 2rem);
    --fs-h-4: clamp(1.5rem, 2.5vw, 1.5rem);
    --fs-body-1: clamp(1.125rem, 2vw, 1.25rem);
    --fs-body-2: clamp(1rem, 1.5vw, 1rem);
    --fs-body-3: clamp(0.875rem, 1.2vw, 0.875rem);
    --fs-body-4: clamp(0.75rem, 1vw, 0.75rem);


    --color-white: #FFFFFF;
    --color-black: #000000;

    --color-accent-100: #FFFCF3;
    --color-accent-200: #FFFAEC;
    --color-accent-300: #FFF5D8;
    --color-accent-400: #FFE9A6;
    --color-accent-500: #FFDE7A;
    --color-accent-600: #FFCF3F;
    --color-accent-700: #FFC107;
    --color-accent-800: #EFB300;
    --color-accent-900: #DBA400;

    --color-gray-50: #FAFAFA;
    --color-gray-100: #F6F7F9;
    --color-gray-200: #E5E7EA;
    --color-gray-300: #CED2D6;
    --color-gray-400: #9EA5AD;
    --color-gray-500: #676E76;
    --color-gray-600: #596066;
    --color-gray-700: #454C52;
    --color-gray-800: #383F45;
    --color-gray-900: #24292E;
    --color-gray-1000: #1A1D1F;

    --color-error-50: #FAFAFA;
    --color-error-100: #FEF2F2;
    --color-error-200: #FDE9E9;
    --color-error-300: #FAC7C7;
    --color-error-400: #F7A1A1;
    --color-error-500: #F37373;
    --color-error-600: #F34141;
    --color-error-700: #CD3636;
    --color-error-800: #A32E2E;
    --color-error-900: #7C2323;
    --color-error-1000: #601B1B;

    --color-success-50: #F6FEF9;
    --color-success-100: #EFFDF6;
    --color-success-200: #D9F9E6;
    --color-success-300: #B8F1D2;
    --color-success-400: #8EE4BA;
    --color-success-500: #6AD09D;
    --color-success-600: #53B483;
    --color-success-700: #2F9461;
    --color-success-800: #2F7657;
    --color-success-900: #255E46;
    --color-success-1000: #1E4D3A;

    --base-factor: 4px;

    --radius-xs: calc(var(--base-factor) * 1);
    --radius-sm: calc(var(--base-factor) * 2);
    --radius-md: calc(var(--base-factor) * 3);
    --radius-lg: calc(var(--base-factor) * 4);
    --radius-xl: calc(var(--base-factor) * 5);
    --radius-xxl: calc(var(--base-factor) * 8);
    --radius-2xl: calc(var(--base-factor) * 10);
    --radius-full: 100px;

    --shadow-focus-secondary:
        0px 1px 1px 0px #0000001F,
        0px 0px 0px 1px #676E7629,
        0px 2px 5px 0px #676E7614,
        0px 0px 0px 4px #676E7629;

    --shadow-focus-primary:
        0px 1px 1px 0px #0000001F,
        0px 0px 0px 1px #000000A3,
        0px 2px 5px 0px #676E7614,
        0px 0px 0px 4px #676E7629;

    --shadow-md:
        0px 1px 1px 0px #0000001F,
        0px 0px 0px 1px #676E7629,
        0px 2px 5px 0px #676E7614;

    --shadow-hover-primary:
        0px 1px 1px 0px #0000001F,
        0px 0px 0px 1px #000000A3,
        0px 2px 5px 0px #676E7614;

    --shadow-hover-secondary:
        0px 1px 1px 0px #0000001F,
        0px 0px 0px 1px #676E763D,
        0px 2px 5px 0px #676E7614;

    --box-width: clamp(398px, 90vw, 1400px);
    --small-box-width: clamp(398px, 80vw, 1240px)
      


}