.radio-wrapper {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.radio-wrapper input[type="radio"] {
    display: none;
}

/* Default Radio Box */
.radio {
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-200);
    border-radius: var(--radius-xl);
    position: relative;
}

/* Hover State */
.radio:hover {
    background-color: var(--color-gray-50);
    box-shadow: var(--shadow-hover-primary);
    border: 0;
}

/* Sizes */
.radio-sm {
    width: 16px;
    height: 16px;
}

.radio-md {
    width: 20px;
    height: 20px;
}

.radio-lg {
    width: 24px;
    height: 24px;
}

/* Checked State */
.radio-wrapper input[type="radio"]:checked+.radio {
    background-color: var(--color-black);
    box-shadow: none;
    border: 0;
}

.radio-wrapper input[type="radio"]:checked+.radio:hover {
    background-color: var(--color-gray-1000);
    box-shadow: var(--shadow-hover-secondary);
}

/* Check Dot (after) */
.radio-wrapper input[type="radio"]:checked+.radio::after {
    content: "";
    position: absolute;
    background-color: white;
    border-radius: var(--radius-xl);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.radio.radio-sm::after {
    width: 6px;
    height: 6px;
}

.radio.radio-md::after {
    width: 8px;
    height: 8px;
}

.radio.radio-lg::after {
    width: 10px;
    height: 10px;
}

/* Disabled State */
.radio-wrapper input[type="radio"]:disabled+.radio {
    background-color: var(--color-gray-200);
    cursor: not-allowed;
    box-shadow: none;
    border: 0;
}

/* Disabled + Checked */
.radio-wrapper input[type="radio"]:disabled:checked+.radio {
    background-color: var(--color-gray-400);
}

.radio-wrapper input[type="radio"]:disabled:checked+.radio:hover {
    box-shadow: none;
    border: 0;
}

.radio-wrapper input[type="radio"]:disabled:checked+.radio::after {
    content: "";
    position: absolute;
    background-color: var(--color-gray-300);
    border-radius: var(--radius-xl);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
