.iconbox{
    padding: 24px 45px 24px 24px;
    border: 1px solid var(--color-gray-200);
    border-radius: var(--radius-xl);

    display: flex;
    flex-direction: column;
    gap: 8px;

    position: relative;

    transition: all 0.3s ease-in-out;
}

.iconbox:hover{
    background-color: var(--color-accent-100);
    border: 1px solid var(--color-accent-700);
}

.iconbox-title{
    font-weight: var(--fontw-bold);
    font-size: var(--fs-body-1);

}

.iconbox-desc{
    font-size: var(--fs-body-3);
    color: var(--color-gray-600);
}

.icon{
    position: absolute;
    top: 2.5px;
    right: 2.5px;
transform: rotate(-30deg);
    transition: all 0.3s ease-in-out;

   
}
.svg {
    width: 56px ;
        height: 56px;
}
.path{
    fill: var(--color-gray-200);
    transition: all 0.3s ease-in-out;
}


.iconbox:hover .path{
    fill: var(--color-accent-700);
}

.iconbox:hover .icon {
    transform: rotate(0deg);
}
