.unique-box {
    max-width: var(--small-box-width);
    margin: 80px auto 0px;
}

.unique-content h1{
    font-weight: 600;
}

.unique-grid{
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

@media screen and (max-width:1190px) {
.unique-box {
        margin: clamp(32px, 2vw + 32px, 72px) 32px;
    }
.unique-grid {
    margin-top: 56px;
    grid-template-columns: 1fr 1fr;
}
}

@media screen and (max-width:623px) {
    .unique-grid {
        grid-template-columns: 1fr;
        gap: 12px;
    }
}