.header{
    background-color: var(--color-black);
    border-radius: var(--radius-2xl);
   max-width: var(--box-width);
    margin: 16px auto;
    padding: 24px 40px;

    display: flex;
    align-items: center;
    gap: 56px;
}

.header-logo{
    color: var(--color-accent-700);
}

.header-menu{
    display: flex;
    justify-content: center;
    gap: 56px;

    color: var(--color-white);
    font-weight: var(--fontw-semi-bold);
    font-size: var(--fs-body-3);

}

.menu{
    display: flex;
    align-items: center;
    gap: 8px;
}