.input-box {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.input-label {
    font-family: var(--font-inter);
    font-weight: var(--fontw-medium);
    font-size: var(--fs-body-3);
}

.input-field {

    width: 100%;
    display: flex;
    align-items: center;
    gap: 4px;
    outline: 0;
    border: 0;
    flex: 1;
}

.input-field-border {
    padding: 19px 24px;
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-300);
    border-radius: var(--radius-md);
}


.input-field::placeholder {
    font-family: var(--font-inter);
    font-weight: var(--fontw-regular);
    font-size: var(--fs-body-3);
}

.input-field-border:focus-within,
.input-field-border:has(input[type="radio"]:checked) {
    border: 1px solid var(--color-black);
    outline: none;
}

.input-field-border.input-error {
    border: 1px solid var(--color-error-600);
}

.input-field-border.input-success {
    border: 1px solid var(--color-success-700);
}

.disabled-border {
    background-color: var(--color-gray-100);
    border: 1px solid var(--color-gray-200);
    cursor: not-allowed;
}

.prefix-icon,
.suffix-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.disabled .prefix-icon,
.disabled .suffix-icon,
.disabled .suffix-icon button {
    color: var(--color-gray-300);
}

.error-icon {
    color: var(--color-error-600);
}

.success-icon {
    color: var(--color-success-700);
}

.input-field-underline {
    padding: 12px;

    border-bottom: 1px solid var(--color-gray-300);

}

.input-field-underline.input-error {
    border-bottom: 1px solid var(--color-error-600);
}

.input-field-underline.input-success {
    border-bottom: 1px solid var(--color-success-700);
}

.input-field-underline:focus-within {
    border-bottom: 1px solid var(--color-black);
}

.disabled-underline {
    background-color: transparent;
    border-bottom: 1px solid var(--color-gray-200);
    cursor: not-allowed;
}

/* // Radio Button styling */

input[type="radio"]{
    display: none;
}

.radio{
    min-width: 20px;
    min-height: 20px;
    border-radius: var(--radius-full);
    border: 1px solid var(--color-gray-200);
    position: relative;
    margin-right: 12px;
}

input[type="radio"]:checked+.radio {
    background-color: var(--color-black);
}

input[type="radio"]:checked+.radio{
    position: relative;
}

input[type="radio"]:checked+.radio::after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: var(--radius-full);
    background-color: var(--color-white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.input-field-border:has(input[type="radio"]){
    display: flex;
    align-items: start;
}

