.whyus-box {
    max-width: var(--small-box-width);
    margin: 80px auto 0px;
}

.whyus-title h1 {
    font-weight: 700;
    margin-bottom: 80px;
}

.whyus-content {
    display: flex;
    align-items: center;
    gap: 230px;
}

.contentbox {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.whyus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 232px;
}

.whyus-blur-shape {
    width: 292px;
    height: 292px;
    border-radius: var(--radius-full);
    background: var(--color-accent-700);
    backdrop-filter: blur(300px);
    background: radial-gradient(circle at left center,
            /* Glow starts at the left center */
            #fff8e1,
            /* Light yellow center */
            #ffe082 30%,
            /* Soft yellow glow */
            #ffca28 60%,
            /* Rich golden tone */
            transparent 90%)
}

@media screen and (max-width:1190px) {
    .whyus-box {
        margin: clamp(32px, 2vw + 32px, 72px) 32px;
    }

    .whyus-title h1 {
        margin-bottom: 56px;
    }

    .img {
        display: none;
    }

    .whyus {
        display: block;
    }

    .whyus-content {
        display: block;
    }
}