summary {
    list-style: none;
    cursor: pointer;
}

summary::-webkit-details-marker {
    display: none;
}

.faq-section{
    margin-bottom: 12px;

    transition: all 0.3s ease-in-out;
}

.faq-summary{
    border: 1px solid var(--color-gray-200);
    padding: 20px 24px;
    border-radius: var(--radius-xl);

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.svg{
    width: 24px;
    height: 24px;

    transition: all 0.3s ease-in-out;
}

.path{
    stroke: var(--color-black);
}

.faq-section:open .svg{
    transform: rotate(180deg);
}

.faq-section:open .faq-summary {
    border-bottom: 0px;
    border-radius: var(--radius-xl) var(--radius-xl) 0px 0px;
}

.faq-detail  {
   border-width: 0px 1px 1px 1px;
   border-style: solid;
   border-color: var(--color-gray-200) ;
border-radius: 0px 0px var(--radius-xl) var(--radius-xl);
 padding: 0px 24px 20px;

   
}

.faq-section:open{
    background-color: var(--color-gray-50);
    border-radius: var(--radius-xl);
}

.faq-title{
    font-size: var(--fs-body-1);
    font-weight: var(--fontw-semi-bold);
}

.faq-description{
    font-size: var(--fs-body-3);
    line-height: 160%;
    color: var(--color-gray-700);
}