.compare-component{
    display: grid;
grid-template-columns: 273px 293px 280px 289px ;
    justify-content: space-between;
    gap: 64px;

    margin: 72px 32px;
}
.compare-component .compare-box:nth-child(-n+3){
position: relative;
}
.compare-box{
    display: flex;
    gap: 12px;
    align-items: flex-start;

    
}

.compare-box::after{
   position: absolute;
   content: ">";
   top:50%;
   right:-15%; 
}

.compare-title{
    font-weight: var(--fontw-bold);
    font-size: var(--fs-body-1);
}

.compare-content{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.compare-description{
    color: var(--color-gray-600);
    font-size: var(--fs-body-3);
}
.step-circle {
   min-width: 28px;
    min-height: 28px;
    border: 1px solid var(--color-gray-300);
    border-radius: var(--radius-full);
    background-color: var(--color-gray-50);
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-number {
    font-weight: var(--fontw-semi-bold);
    font-size: var(--fs-body-3);
    color: var(--color-gray-600);
}

.compare-box:hover .step-circle {
    background-color: var(--color-black);
    
}

.compare-box:hover .step-number {
    color: var(--color-white);
}