.sidebar {
    position: fixed;
    top: -10px;
    right: 0;
    background-color: var(--color-white);
    height: 100vh;
    width: 300px;
    padding: 20px;
    z-index: 99999;
    transition: all 0.3s ease-in-out;
    overflow-y: scroll;
}

.close {
    right: -600px;

}

.open {
    right: 0px;
}

.sidebar-header {
    position: absolute;
    top: 20px;
    left: 10px;
    gap: 118px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn {

    font-size: var(--fs-h-4);
    font-weight: var(--fontw-black);
    cursor: pointer;
}



.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    cursor: none;
}

.closeFloating {
    display: none;
}

.overlay:hover .closeFloating {
    position: fixed;
    color: white;
    display: block;
    z-index: 1000;
}

.sidebar-menu{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap:10px
}

.menu-item{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.menu-item:hover,
.menu-item.menuopen{
    background-color: var(--color-gray-100);
    padding: 10px;
    border-radius: var(--radius-sm);
}

.arrow{
    transition: all 0.3s ease-in-out;
}

.menu-item:hover .arrow,
.menu-item.menuopen .arrow{
    rotate: 180deg;
}

.arrow-path{
    stroke: var(--color-black);
}

.submenu{
    height: 0;
    overflow-y: auto;
    width: 100%;
    visibility: hidden;
    background-color: var(--color-white);  
    transition: all 0.3s ease-in-out;
}
.submenu-open {
    height: 300px;
    visibility: visible;
}

.submenu-close {
    height: 0px;
    visibility: hidden;
}
.scrollbar::-webkit-scrollbar {
    width: 6px;
}

.scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--color-black);
    border-radius: 10px;
}