.img-box{
    background-color: var(--color-gray-50);
    border-radius: var(--radius-xl);
    padding: 20px;
    width: fit-content;
}
.variant-box{
    display: flex;
    gap: 12px;
}

.product-title{
    font-weight: 700;
}

.variant-picker{
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.variant-title{
    font-size: var(--fs-body-2);
    font-weight: 600;
}

.variant-group{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.variant-options{
    display: flex;
    gap: 5px;
}

.condition-box{
    display: inline-flex;
    align-items: center;
    gap: 4px;
    margin-left: 5px;

        font-weight: 400;
        font-size: 12px;
        text-decoration: underline;
        color: var(--color-gray-500);
}

@media screen and (max-width:1000px) {
    .variant-box,
    .variant-options {
        flex-wrap: wrap;
    }
}