.contact-banner{
    max-width: 516px;
    min-width: 398px;
    margin: 80px auto;
    text-align: center;
}

.contact-banner h1{
            font-weight: 800;
            
            color: var(--color-black)
}

.contact-banner span{
    color: var(--color-gray-400) ;
}

.contact-banner p{
  color: var(--color-gray-600);
}

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.form-box{
    max-width: 944px;
    min-width: 398px;
    padding: 0px 16px;
    margin: auto;
    
}

.form-row1{
    display: flex;
    gap: 48px;
}

.contact-submit-btn{
    width: fit-content;
    align-self: flex-end;
    overflow: hidden;
}

@media screen and (max-width:980px) {
    .contact-banner{
        margin: 48px auto 70px;
    }
}


@media screen and (max-width:828px) {

    .form-row1{
        flex-direction: column;
        gap: 40px;
    }

    .contact-form{
        gap: 40px;
    }

    .contact-submit-btn{
        width: 100%;
        align-self: center;
    }
} 

@media screen and (max-width:390px) {

    .contact-banner,
    .form-box {
        max-width: 390px;
        min-width: 0px;
    }
}